.header-menu {
    width: 100%;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: black
}

@media screen and (max-width: 480px) {
  .logo {
    display: none;
  }
}

.logo {
float: left;
width: 8%;
height:100%;
}

.logo a {
  width: 100%;
  height: 100%;
}

nav{
  padding-left: 1%;
    float: left;
    width: 80%;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 1%;
    display: inline-block;
  }
  nav a:visited, a:link {
    color: white;
  }
  nav a:hover {
    color: #039be5;
  }
  nav a.active {
    color: #039be5;
  }